MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?appName=Cluster0
MONGODB_DB=nila_invoice
# Long random string, e.g. node -e "console.log(require('crypto').randomBytes(48).toString('hex'))"
JWT_SECRET=change-me
PORT=3000
# Set to false after you have created the staff accounts you need
ALLOW_SIGNUP=true
